body{
    background: url(../img/patas.svg), url(../img/vetor-1.svg);
    background-repeat: no-repeat;
    background-position: top 0 right, top 0 left;
}

main{
    background: url(../img/vetor-2.svg);
    background-repeat: no-repeat;
    background-position: top 7.5rem left;
}

.main__logo{
    display: block;
    text-align: center;

    height: 2.1475rem;

    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.main p{
    text-align: center;
    color: var(--azul);

    margin: 0 auto auto 1rem;
    width: 90%;
}