:root {
    --background-principal: #E5E5E5;
    --branco: #FFFFFF;
    --azul-principal: #3772FF;
    --verde-principal: #36D6AD;
    --coral-principal: #FC7071;
    --creme-principal: #FCF0E3;
    --cinza-principal: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-bg: #F6F6F6;
    --font-poppins:'Poppins', sans-serif;
    --font-ibm: 'IBM Plex Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;

}

/* GERAIS */

.inicial {
    background-image: url(../img/vetor-1.svg);
    background-repeat: no-repeat;
    background-size: 95vw;
    background-color: var(--azul-principal);
    margin: 0;
    padding: 0;
}

.inicial__header {
    align-items: center;
    display: flex;
    height: 10em;
    justify-content: space-around;
    margin-left: 1.5em;
    width: 40vw;
}

.inicial__header-nav .home-logo {
    background: black;
    border: 1px solid white;
}

.inicial__header-nav .contato-logo {
    background: black;
    border: 1px solid white;
}

.inicial__logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.inicial__conteudo {
    align-items: center;
    background-image: url(../img/vetor-2.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    height: 25em;
    padding:auto;
    width: 100vw;
}

.inicial__conteudo h3 {
    font-family: var(--font-ibm);
    font-weight: 500;
    font-size: 26px;
    line-height: 24px;
}

.inicial__conteudo p {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}


/* BOTOES (inserir combreamento) */

.inicial__conteudo-btn {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 7em;
    justify-content: space-between;
    margin: 8px auto;
    width: 50vw;
}

.inicial__conteudo-btn a {
    background-color: var(--coral-principal);
    border: black;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    color: var(--branco);
    font-size: 16px ;
    font-weight: 600;
    height: 40px;
    line-height: 24px;
    text-align: center;
    width: 180px;    
}


/* IMAGEM */

.imagem_catdog {
    width: 100vw;
    background-image: url(../img/ilustracao-catdog.svg);
    background-repeat: no-repeat;
    background-position-y: 4vh;
    background-position-x: center;
    height: 20em;
}

