
.home_logo {
    width: 19.2px;
    height: 23px;

    margin-top: 48px;
    margin-left: 48px;
}

.contato_logo {
    width: 23.14px;
    height: 18.86px;

    margin-top: 50.14px;
    margin-left: 126.31px;
}
