body {
    background-color: var(--branco);
    background-image: url(../img/vetor-1.svg);
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecalho {
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__item {
    margin: auto 2rem auto 0;
}

.cabecalho__esquerda {
    margin: auto 3rem auto 3rem;
    display: flex;
}

.cabecalho__item-img {
    width: 2.3rem;
}

.cabecalho__item--logo {
    display: none;
}

.conteudo__paragrafo {
    display: flex;
    line-height: 1.2rem;
    font-weight: 400;
    color: var(--azul);
    margin: 4.5rem 4rem 2rem;
    text-align: center;
}

.conteudo__pets--pet {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    height: 12.25rem;
    background-color: transparent;
}

.conteudo__pets--pet-pet {
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 9rem;
}

.conteudo__pets--pet-dunga {
    background-image: url(../img/pets/dunga.svg);
}

.conteudo__pets--pet-felicia {
    background-image: url(../img/pets/felicia.svg);
}

.conteudo__pets--pet-sirius {
    background-image: url(../img/pets/sirius.svg);
}

.conteudo__pets--pet-fiona {
    background-image: url(../img/pets/fiona.svg);
}

.conteudo__pets--pet-sid {
    background-image: url(../img/pets/sid.svg);
}

.conteudo__pets--pet-yoda {
    background-image: url(../img/pets/yoda.svg);
}

.conteudo__pets--pet-lua {
    background-image: url(../img/pets/lua.svg);
}

.conteudo__pets--pet-amora {
    background-image: url(../img/pets/amora.svg);
}

.conteudo__pets--pet-zelda {
    background-image: url(../img/pets/zelda.svg);
}

.conteudo__pets--pet-drescricao {
    display: flex;
    flex-direction: column;
}

.conteudo__pets--pet-drescricao h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--azul);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.conteudo__pets--pet-drescricao ul {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 1.8rem;
    color: var(--cinza);
}

.conteudo__pets--pet-drescricao p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0.45rem;
    color: var(--cinza);
}

.conteudo__pets--pet-drescricao img {
    width: 1rem;
}

.conteudo__pets--pet-drescricao a {
    display: flex;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

span {
    margin-left: 0.45rem;
    color: var(--cinza);
}

/*--------------- TABLET ---------------*/
@media (min-width: 480px) {
    body {
        background-size: 35rem;
        background-position: top left;
    }

    .cabecalho {
        margin: 5rem 0 0;
    }

    .cabecalho__item--logo {
        display: block;
    }

    .cabecalho__item {
        margin: auto 5rem auto 0;
    }

    .cabecalho__item-img {
        width: 3rem;
    }

    .conteudo__paragrafo {
        display: flex;
        justify-content: center;
        margin: 13rem auto 0;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .conteudo__pets {
        display: grid;
        grid-template-columns: auto auto;
        margin: 1rem 0 2rem 0;
    }

    .conteudo__pets--pet {
        display: flex;
        margin: 2.6rem auto 0;
        width: 21rem;
        background-color: var(--cinza-bg);
    }
}

/*--------------- TELA PEQUENA ---------------*/

@media (min-width: 770px) {
    body {
        background-color: var(--branco);
        background-image: url(../img/vetor-1.svg);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 35rem;
    }

    .conteudo__pets {
        grid-template-columns: auto auto auto;
        margin: 1rem 0 2rem 0;
        gap: 0.2rem;
    }

    .conteudo__pets--pet {
        display: flex;
        margin: 1rem 1rem 0;
        width: 90%;
        height: 12.25rem;
    }

    .conteudo__pets--pet-pet {
        width: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 9rem;
    }
}

/*--------------- MINHA TELA (NOTEBOOK) ---------------*/


@media screen and (min-width: 1100px) {}

/*--------------- TELA GRANDE ---------------*/

@media (min-width: 1440px) {
    .cabecalho__item-img {
        width: 5rem;
    }

    .conteudo__paragrafo {
        margin: 2.5rem 4rem 2rem;
        text-align: center;
    }

    .conteudo__pets {
        margin: 1rem 4rem 2rem;
        gap: 0.2rem;
    }

    .conteudo__pets--pet {
        display: flex;
        margin: 1rem auto 0;
        width: 95%;
        height: 12.25rem;
    }
}

/*--------------- MINHA TELA (DESKTOP) ---------------*/

@media screen and (min-width: 1700px) {}