body {
    background-color: var(--branco);
    background-image: url(../img/vetor-1.svg);
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

.ola {
    line-height: 20px;
    font-weight: 400;
    color: var(--azul);

    display: flex;
    margin: 4.5rem 4rem 0;
    text-align: center;
    margin-bottom: 1rem;
}

.pets__pet {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    height: 12.25rem;
    background-color: var(--cinza-bg);
}

.pets__pet-pet {
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 9rem;
}

.pets__pet-dunga {
    background-image: url(../img/pets/dunga.svg);
}

.pets__pet-felicia {
    background-image: url(../img/pets/felicia.svg);
}

.pets__pet-sirius {
    background-image: url(../img/pets/sirius.svg);
}

.pets__pet-fiona {
    background-image: url(../img/pets/fiona.svg);
}

.pets__pet-sid {
    background-image: url(../img/pets/sid.svg);
}

.pets__pet-yoda {
    background-image: url(../img/pets/yoda.svg);
}

.pets__pet-lua {
    background-image: url(../img/pets/lua.svg);
}

.pets__pet-amora {
    background-image: url(../img/pets/amora.svg);
}

.pets__pet-zelda {
    background-image: url(../img/pets/zelda.svg);
}

.pets__pet-drescricao {
    display: flex;
    flex-direction: column;
}

.pets__pet-drescricao h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--azul);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.pets__pet-drescricao ul {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 1.8rem;
    color: var(--cinza);
}

.pets__pet-drescricao p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0.45rem;
    color: var(--cinza);
}

.pets__pet-drescricao img {
    width: 1rem;
}
.pets__pet-drescricao a {
    display: flex;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

span {
    margin-left: 0.45rem;
    color: var(--cinza);
}

/*--------------- TABLET ---------------*/
@media screen and (max-width: 1439px) and (min-width: 768px) {
    body {
        background-size: 35rem;
        background-position: top left;
    }
    .me-da-um-ola {
        display: flex;
        margin: 6rem 12.5rem 0;

    }
    .ola {
        font-size: 18px;    
        margin: 6.5rem auto 0 auto;
        text-align: center;
    }
    .pets {
        display: grid;
        grid-template-columns: auto auto;
        margin: 1rem 0 2rem 0;
    }
    .pets__pet {
        display: flex;
        margin: 2rem auto 0;
        width: 21rem;
    }
}

/*--------------- DESKTOP ---------------*/

@media screen and (min-width: 1440px) {
    body {
        background-color: var(--branco);
        background-image: url(../img/vetor-1.svg), url(../img/vetor-2.svg);
        background-position: top left, center right;
        background-repeat: no-repeat;
        background-size: 35rem, 8.5rem;

    }
    .me-da-um-ola {
        display: flex;
        margin: 3rem 12.5rem 0;

    }
    .ola {
        font-size: 18px;    
        margin: 6.5rem auto 0 auto;
        text-align: center;
    }
    .pets {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 1rem 10rem 3rem;
    }
    .pets__pet {
        display: flex;
        margin: 1rem 1rem 0;
        width: 21.5rem;
    }
}