body {
    background-color: var(--azul);
    background-image: url(../img/vetor-1.svg), url(../img/vetor-2.svg), url(../img/ilustracao-catdog.svg);
    background-size: 20rem, 4rem, 11rem;
    background-position: top left, center right, bottom center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecalho__item--logo {
    display: none;
}

main {
    flex-grow: 1;
}

.conteudo {
    margin: 3rem auto 0 auto;
    text-align: center;
    color: var(--branco);
}

#conteudo__logo-adopet {
    width: 10rem;
    margin-bottom: 1.5rem;
}

.conteudo__boas-vindas {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 500;
}

.conteudo__paragrafo {
    margin: 1rem 4rem 1rem 4rem;
    font-size: .8rem;
    font-weight: 100;
}

.conteudo__botoes {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    width: 10rem;
    margin: 0 auto 0 auto;
}

.conteudo__botoes--btn {
    margin-bottom: 1rem;
    background-color: var(--coral);
    padding: 0.2rem;
    border-radius: 6px;
    color: var(--branco);
}

/*--------------- TABLET ---------------*/

@media screen and (min-width: 481px) {
    body {
        background-size: 35rem, 7.5rem, 22rem;
    }
    .cabecalho__item--logo {
        display: block;
    }
    #conteudo__logo-adopet {
        width: 20rem;
        margin: 10rem auto 2rem auto;
    }
    .conteudo__boas-vindas {
        font-size: 2.5rem;
    }
    .conteudo__paragrafo {
        margin: 2rem 14rem 2rem 14rem;
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .conteudo__botoes {
        font-size: 1.4rem;
        width: 25rem;
        margin: 0 auto 0 auto;
    }
    .conteudo__botoes--btn {
        padding: 0.5rem;        
    }
}

/*--------------- TELA PEQUENA ---------------*/

@media screen and (min-width: 769px) {
    body {
        background-size: 30rem, 6rem, 15rem;
    }
    .cabecalho__item--logo {
        display: block;
    }
    #conteudo__logo-adopet {
        width: 15rem;
        margin: 2rem auto 1rem auto;
    }
    .conteudo__boas-vindas {
        font-size: 1.5rem;
    }
    .conteudo__paragrafo {
        margin: 1rem auto 1.5rem auto;
        font-size: 1rem;
    }
    .conteudo__botoes {
        font-size: 1.2rem;
        width: 16rem;
        margin: 0 auto 0 auto;
    }
}

/*--------------- MINHA TELA (NOTEBOOK) ---------------*/

@media screen and (min-width: 1100px) {
    body {
        background-size: 30rem, 5rem, 11.5rem;
    }
    .cabecalho__item--logo {
        display: block;
    }
    #conteudo__logo-adopet {
        width: 12rem;
        margin: -1rem auto 1rem auto;
    }
    .conteudo__boas-vindas {
        font-size: 1.5rem;
    }
    .conteudo__paragrafo {
        margin: 1rem auto 1rem auto;
        font-size: 1rem;
    }
    .conteudo__botoes {
        font-size: 1rem;
        width: 12rem;
        margin: 0 auto 0 auto;
    }
}

/*--------------- TELA GRANDE ---------------*/

@media screen and (min-width: 1440px) {
    body {
        background-size: 35rem, 7.5rem, 22rem;
    }
    .cabecalho__item--logo {
        display: block;
    }
    main {
        margin: 1rem auto 0 auto;
    }
    #conteudo__logo-adopet {
        width: 20rem;
        margin: 4rem auto 2rem auto;
    }
    .conteudo__boas-vindas {
        font-size: 2rem;
    }
    .conteudo__paragrafo {
        margin: 2rem 14rem 2rem 14rem;
        font-size: 1.2rem;
    }
    .conteudo__botoes {
        font-size: 1.2rem;
        width: 21rem;
        margin: 0 auto 0 auto;
    }
}

/*--------------- MINHA TELA (DESKTOP) ---------------*/

@media screen and (min-width: 1700px) {
    body {
        background-size: 35rem, 7.5rem, 20rem;
    }
    #conteudo__logo-adopet {
        width: 20rem;
        margin: 0 auto 2rem auto;
    }
}