body {
    background-color: var(--azul);
    background-image: url(../img/vetor-1.svg), url(../img/vetor-2.svg), url(../img/ilustracao-catdog.svg);
    background-size: 20rem, 4rem, 12rem;
    background-position: top left, center right, bottom center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.cabecalho__item--logo {
    display: none;
}
main {
    margin: 3rem auto 0 auto;
    text-align: center;
    color: var(--branco);
    flex-grow: 1;
}
#conteudo__logo-adopet {
    width: 10rem;
    margin-bottom: 0.5rem;
}
.conteudo__boas-vindas {
    font-size: 20px;
}
.conteudo__paragrafo {
    margin: 1rem 3.5rem 1rem 3.5rem;
    font-size: 14px;
    font-weight: 100;
}
.conteudo__botoes {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 10rem;
    margin: 0 auto 0 auto;
}
.conteudo__botoes--btn {
    margin-bottom: 1rem;
    background-color: var(--coral);
    padding: 0.2rem;
    border-radius: 6px;
    color: var(--branco);
}

/*--------------- TABLET ---------------*/

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background-size: 35rem, 7.5rem, 22rem;
    }
    .cabecalho__item--logo {
        display: block;
    }

    #conteudo__logo-adopet {
        width: 15rem;
        margin: 10rem auto 2rem auto;
    }

    .conteudo__boas-vindas {
        font-size: 28px;
    }
    .conteudo__paragrafo {
        margin: 2rem 14rem 2rem 14rem;
        font-size: 18px;
        font-weight: 100;
        line-height: 26px;
    }
    .conteudo__botoes {
        width: 21rem;
        margin: 0 auto 0 auto;
    }

}

/*--------------- TELA PEQUENA ---------------*/

@media screen and (min-width: 769px) and (max-width: 1024px)  {
    body {
        background-size: 30rem, 6rem, 15rem;
    }
    .cabecalho__item--logo {
        display: block;
    }
    main {
        margin: 0 auto 0 auto;
    }

    #conteudo__logo-adopet {
        width: 12rem;
        margin: 4rem auto 1rem auto;
    }

    .conteudo__boas-vindas {
        font-size: 25px;
    }
    .conteudo__paragrafo {
        margin: 1rem 15rem 1.5rem 15rem;
        font-size: 16px;
        line-height: 26px;
    }
    .conteudo__botoes {
        width: 16rem;
        margin: 0 auto 0 auto;
    }

}

/*--------------- TELA GRANDE ---------------*/

@media screen and (min-width: 1440px) {
    body {
        background-size: 35rem, 7.5rem, 22rem;
    }
    .cabecalho__item--logo {
        display: block;
    }
    main {
        margin: 1rem auto 0 auto;
    }

    #conteudo__logo-adopet {
        width: 15rem;
        margin: 10rem auto 2rem auto;
    }

    .conteudo__boas-vindas {
        font-size: 28px;
    }
    .conteudo__paragrafo {
        margin: 2rem 14rem 2rem 14rem;
        font-size: 18px;
        font-weight: 100;
        line-height: 26px;
    }
    .conteudo__botoes {
        width: 21rem;
        margin: 0 auto 0 auto;
    }

}