body {
    background-color: var(--branco);
    background-image: url(../img/vetor-1.svg);
    background-position: top left;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 6.5rem auto 0 auto;
    /* margem esquerda e direita auto */
    text-align: center;
    /*terminou de centralizar o conteúdo */
    color: var(--azul);
    flex-grow: 1;
}

.paragrafo {
    margin: 0 3.5rem;
}

.formulario {
    background-color: var(--cinza-bg);
    margin: 1.5rem 1.5rem 2rem 1.5rem;
    text-align: left;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.perfil {
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--cinza);
    text-align: center;

}

form {
    margin: 1rem 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    color: var(--azul);
    font-family: var(--font-principal);
    font-size: 16px;
    margin: 1rem 0 0.5rem 0;
}

input {
    width: 100%;
    background-color: var(--branco);
    color: var(--cinza-bg);
    padding: 0.75rem;
    margin: 0 auto 0 auto;
    display: inline-block;
    border: none;
    border-radius: 6px;

    font-family: var(--font-principal);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

input[type=submit] {
    width: 9.5rem;
    background-color: var(--coral);
    text-align: center;
    color: var(--branco);
    padding: 12px 20px;
    display: inline-block;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    margin: 2rem auto 2rem auto;
}

#mensagem {
    width: 100%;
    min-height: 10.75rem;
    text-align: left;
    color: var(--cinza);
    font-family: var(--font-principal);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding: 0.75rem;
}

.rodape {
    display: flex;
    height: 6.5rem;
    background-color: var(--verde);
    color: var(--branco);
    justify-content: center;
}

.rodape__texto {
    align-self: center;
}

.foto-perfil {
    width: 5rem;
    background-color: var(--cinza-bg);
}

/*--------------- TABLET ---------------*/

@media screen and (max-width: 1439px) and (min-width: 768px) {
    body {
        background-size: 35rem;
        background-position: top left;
    }

    main {
        background-image: url(../img/vetor-2.svg);
        background-size: 7.5rem;
        background-position: center right;
        background-repeat: no-repeat;
    }

    .paragrafo {
        margin: 5rem 7.2rem 2.5rem;
        font-size: 18px;
    }

    .formulario {
        margin: 0rem 7.2rem 5.5rem;
    }

    input[type=submit] {
        width: 10.25rem;
    }

    #foto--perfil {
        width: 7rem;
    }
}

/*--------------- DESKTOP ---------------*/

@media screen and (min-width: 1440px) {
    body {
        background-color: var(--branco);
        background-image: url(../img/vetor-1.svg), url(../img/vetor-2.svg);
        background-position: top left, center right;
        background-repeat: no-repeat;
        background-size: 35rem, 8.5rem;

    }
    .paragrafo {
        margin: 0 27rem;
        font-size: 18px;

    }
    .formulario {
        margin: 2rem 27rem 2rem;
    }
    #foto--perfil {
        width: 7rem;
    }

}