body {
    background-color: var(--branco);
    background-image: url(../img/vetor-1.svg);
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecalho {
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__item {
    margin: auto 2rem auto 0;
}

.cabecalho__esquerda {
    margin: auto 3rem auto 3rem;
    display: flex;
}

.cabecalho__item-img {
    width: 2.3rem;
}

.cabecalho__item--logo {
    display: none;
}

main {
    margin: 5.5rem auto 0 auto;
    text-align: center;
    color: var(--azul);
    flex-grow: 1;
}

.paragrafo {
    margin: 0 3.5rem;
    line-height: 1.2rem;
}

.formulario {
    background-color: var(--cinza-bg);
    margin: 1.5rem 1.5rem 2rem;
    text-align: left;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.perfil {
    margin-top: 1rem;
   font-size: 1.5rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--cinza);
    text-align: center;

}

/* input[type='file'] {
    display: none;
} */

#foto--perfil {
    width: 6rem;
    height: 6rem;
    padding: 1px;
    background-color: var(--cinza-bg);
    border: 1px dotted black;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

#foto--perfil:hover {
    background-color: var(--cinza);
    border: 2px solid var(--azul);
}

form {
    margin: 1rem 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    color: var(--azul);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0 0.5rem 0;
}

input {
    width: 100%;
    background-color: var(--branco);
    color: var(--cinza-bg);
    padding: 0.75rem;
    margin: 0 auto 0 auto;
    display: inline-block;
    border: none;
    border-radius: 6px;
    font-family: var(--font-principal);
    font-size: .8rem;
}
input::placeholder {
    color: var(--cinza);
}

#mensagem {
    width: 100%;
    min-height: 10.75rem;
    text-align: left;
    color: var(--cinza);
    font-family: var(--font-principal);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding: 0.75rem;
}

input[type=submit] {
    width: 9.5rem;
    background-color: var(--coral);
    text-align: center;
    color: var(--branco);
    padding: 12px 20px;
    display: inline-block;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 2rem auto 2rem auto;
}

/*--------------- TABLET ---------------*/
@media (min-width: 480px) {
    body {
        background-size: 35rem;
    }

    main {
        background-image: url(../img/vetor-2.svg);
        background-size: 7.5rem;
        background-position: center right;
        background-repeat: no-repeat;
    }
    
    #foto--perfil {
        width: 7rem;
    }
    .cabecalho {
        margin: 3rem auto 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .cabecalho {
        margin: 5rem 1rem 0 auto;
    }

    .cabecalho__item {
        margin: auto 5rem auto 0;
    }

    .cabecalho__item-img {
        width: 3rem;
    }

    .cabecalho__item--logo {
        display: block;
    }

    .paragrafo {
        margin: 5rem 7.2rem 2.5rem;
        font-size: 1.2rem;
    }

    .formulario {
        margin: 0rem 7.2rem 5.5rem;
    }

    input[type=submit] {
        width: 10.25rem;
    }
}

/*--------------- TELA PEQUENA ---------------*/

@media (min-width: 770px) {
    .paragrafo {
        margin: 0 16rem;
        font-size: 1.2rem;
        line-height: 1.5rem;

    }

    .formulario {
        margin: 2rem 16rem 2rem;
    }

    input[type=submit] {
        width: 10.25rem;
    }
}


/*--------------- MINHA TELA (NOTEBOOK) ---------------*/


@media screen and (min-width: 1100px) {}

/*--------------- TELA GRANDE ---------------*/

@media screen and (min-width: 1440px) {
    .paragrafo {
        margin: 0 27rem;

    }
    .formulario {
        margin: 2rem 27rem 2rem;
    }

}

/*--------------- MINHA TELA (DESKTOP) ---------------*/

@media screen and (min-width: 1700px) {
    body {

        background-image: url(../img/vetor-1.svg), url(../img/vetor-2.svg);
        background-position: top left, center right;
        background-size: 35rem, 7rem;
    }

    main {
        background-image: none;
    }
}