@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins:wght@400;500;600&display=swap');

:root {
    --azul: #3772FF;
    --branco: #FFFFFF;
    --cinza:#737380;
    --cinza-bg: #F6F6F6;
    --cinza-claro: #BCBCBC;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --verde: #36D6AD;
    --font-principal: "Poppins", sans-serif;
    --font-secundaria: "IBM Plex Sans", sans-serif;    
}

* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
    font-family: var(--font-principal);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

h1 {
    font-size: 68px;
    line-height: 72px;
}

h2 {
    font-size: 42px;
    line-height: 48px;
}

h3 {
    font-family: var(--font-secundaria);
    font-size: 26px;
    line-height: 48px;
    font-weight: 300; /* achei mais parecido visualmente do que usando 500 */
}

h4 {
    font-weight: 600;
}

p {
    font-weight: 400;
}