.botoes{
    text-align: center;

    background-color: var(--coral);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);

    width: 200px;

    font-weight: 600;
    color: white;
    border-radius: 5px;

    margin-top: 1rem;
    padding: .7rem;
}

.botoes:hover{
    background-color: var(--coral);
}

.botoes:first-child{
    margin-top: 0;
}

.botoes-desabilitado{
    background-color: var(--cinza);
}