.rodape {
    width: 100%;
    height: 6.5rem;
    background-color: var(--verde);
    
}

.rodape__texto {
    color: var(--branco);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;

    position: relative;
    top: 45%; 
}

a {
    color: var(--azul);
}