.footer {
    height: 104px;
    width: 100vw;
    background-color: var(--verde);

    position: absolute;
    z-index: 1;

    text-align: center;
    color: white;
    margin-top: 0px; /* corrigindo posição do footer */
}

.footer p {
    padding: 39px 0;
}