.cabecalho {
    display: flex;
    margin: 2rem 0 0;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__esquerda {
    margin: auto 4rem auto 3rem;
    display: flex;
}
.cabecalho__item-img {
    width: 2.3rem;
}
